/* FOGLIO DI STILE HUBSPOT */

/*--------------- REGOLE GENERALI--------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.centratura {
  margin: 0 25%;
  /* debug */
  background-color: rgb(128, 147, 228);
  padding: 30px;
  width: 50%;
  height: 100%;
  border: 1px solid blue;

}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*------------------------- PARTE ALTA -----------------------------*/

/*-------------------- HEADER-------------- */

/* ------BARRA FIXATA -----*/

#boxfixato {
  position: fixed;
  padding: 10px 0;
  background-color: #f5f8fa;
  border: 1px solid black;
  width: 100%;
}

#lingue {
  float: left;
  padding: 10px 20px 10px;
  border-right: 1px solid black;

}

#contactsales {
  display: inline-block;
  float: left;
  margin-left: 20px;
  padding: 10px 20px 10px;
  border-right: 1px solid black,
}

#gethubspotfree {
  float: right;
  padding: 10px;
  border: 1px solid black;
  margin-left: 10px;
}

#login {
  float: right;
  padding: 10px;
  border: 1px solid black;
  margin-right: 10px;

}




/* -------NAVIGATORE---- */

#navigatore {
  padding: 10px 0;
  border: 1px solid black;
}





/*---------------------------- CONTENUTO PAGINA ----------------------*/

/* ---------JUMBOTRON------- */

#jumbotron {
  border: 1px solid black;
  padding: 10px;
}

/* ----------MEGACONTENITORE FEATURE-------- */
#feature{
  border: 1px solid black;
  padding: 10px;
}




/* ----------MEGACONTENITORE STATISTICHE-------- */
#statistiche {
  border: 1px solid black;
  padding: 10px;
}




/* ----------MEGACONTENITORE INVITO-------- */
#invito {
  border: 1px solid black;
  padding: 10px;
}












/* ----------------------------FOOTER--------------------------- */
